body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}
/* Remove default margin-bottom on buttons set by base.css */
button, .button {
    margin-bottom: 0px;
}
/* Override row width limit set by base.css */
.row {
    max-width: 100%;
}
/* Override heading font-family set by base.css */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}


/* HEADINGS */
.page-title {
    font-size: 2rem;
}